In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
titanic_pd= pd.read_csv('train.csv','train', index_col=None , na_values=['NA'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [0]:
titanic_pd.head()

  PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0  1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
1  2,1,1,"Cumings, Mrs. John Bradley (Florence Br...
2  3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...
3  4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...
4  5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...

In [0]:
titanic_pd.describe()

       PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count                                                 891
unique                                                891
top     584,0,1,"Ross, Mr. John Hugo",male,36,0,0,1304...
freq                                                    1

In [0]:
titanic_pd.isnull()

     PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
5                                                False
6                                                False
7                                                False
8                                                False
9                                                False
10                                               False
11                                               False
12                                               False
13                                               False
14                                               False
15                                               False
16                                               False
17                                               False
18                                               False
19                                               False
20                                               False
21                                               False
22                                               False
23                                               False
24                                               False
25                                               False
26                                               False
27                                               False
28                                               False
29                                               False
..                                                 ...
861                                              False
862                                              False
863                                              False
864                                              False
865                                              False
866                                              False
867                                              False
868                                              False
869                                              False
870                                              False
871                                              False
872                                              False
873                                              False
874                                              False
875                                              False
876                                              False
877                                              False
878                                              False
879                                              False
880                                              False
881                                              False
882                                              False
883                                              False
884                                              False
885                                              False
886                                              False
887                                              False
888                                              False
889                                              False
890                                              False

[891 rows x 1 columns]

In [0]:
titanic_pd.isnull().sum()

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked    0
dtype: int64

In [0]:
pd.value_counts(titanic_pd['Sex']).plot.bar()

In [0]:
titanic_pd['survived'].mean()

KeyError: ignored